<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/nina/IdeaProjects/Skillo/MavenTestNgDemo">
        <classes>
            <class name="org.example.TestNgDemo">
                <methods>
                    <include name="validateAddition"/>
                    <include name="validateResetFunction"/>
                    <include name="validateWelcomeMessage"/>
                    <include name="validateInventoryStatus"/>
                    <include name="validateCartSize"/>
                    <include name="validateEmailFormat"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>